.container-aboutUs {
  width: 100vw;

  /* height: 50vh; */
}

.langue {
  position: fixed;
  width: 100%;
  top: 0;
  /* left: 45vw; */
  margin: 0;
  padding: 0;
  z-index: 999;
}

.langue-change {
  background: blanchedalmond;
  border: none;
  font-size: 15px;
  font-weight: bold;
  width: 15em;
  height: 5em;
  font-family: 'Acumin-Variable-Concept', sans-serif;
  font-family: 'Acumin-Variable-Concept', serif;
}

.hedden-langue {
  display: none;
}

.logo {
  position: relative;
  width: 20vw;
  top: 40vh;
  /* left: 40vw; */
  z-index: 4000;
}

.fixed-logo {
  position: fixed;
  width: 20vw;
  top: 5vh;
  /* left: 40vw; */
  z-index: 4000;
}

img {
  width: 100%;
}

.container-scrolling {
  position: relative;
  width: 5vw;
  top: 65vh;
  left: 48vw;
}

.arrow-hidden {
  display: none;
}
.container-arrow,
.container-scrolldown {
  width: 5vw;
}

.about-us-description {
  position: relative;
  width: 60vw;
  left: 27vw;
  top: 160vw;
}

.about-us-contact {
  position: relative;
  width: 15vw;
  left: 27vw;
  top: 160vw;
  z-index: 9999;
}

.fixed-contact {
  position: fixed;
  width: 15vw;
  left: 27vw;
  top: 3vw;
  z-index: 9999;
}

/* ====================================== Responsive */
/* Styles pour les écrans de petite taille */
@media screen and (max-width: 768px) {
  .langue-change {
    width: 5em;
    height: 2em;
  }

  .logo {
    width: 40vw;
    top: 30vh;
    left: 30vw;
  }

  .fixed-logo {
    top: 2vh;
  }

  .container-scrolling {
    width: 10vw;
    top: 55vh;
    left: 40vw;
  }

  .container-arrow {
    width: 20vw;
  }

  .container-scrolldown {
    width: 20vw;
  }

  .about-us-description {
    width: 80vw;
    left: 10vw;
    top: 180vw;
  }

  .about-us-contact {
    width: 27vw;
    left: 10vw;
    top: 180vw;
  }

  .fixed-contact {
    left: 10vw;
    top: 2vw;
  }
}

/* Styles pour les écrans de taille moyenne */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .langue {
    /* left: 35vw; */
  }

  .logo {
    width: 30vw;
    top: 30vh;
  }

  .container-scrolling {
    width: 7vw;
    top: 60vh;
    left: 46vw;
  }

  .about-us-description {
    width: 70vw;
    left: 15vw;
    top: 170vw;
  }

  .about-us-contact {
    width: 7vw;
    left: 15vw;
    top: 170vw;
  }

  .fixed-contact {
    left: 15vw;
    top: 2vw;
  }
}

/* Styles pour les écrans de grande taille */
@media screen and (min-width: 1025px) {
  .langue {
    /* left: 45vw; */
  }

  .logo {
    width: 20vw;
    top: 40vh;
    left: 40vw;
  }

  .container-scrolling {
    width: 5vw;
    top: 65vh;
    left: 48vw;
  }

  .about-us-description {
    width: 60vw;
    left: 27vw;
    top: 160vw;
  }

  .about-us-contact {
    width: 15vw;
    left: 27vw;
    top: 160vw;
  }

  .fixed-contact {
    left: 27vw;
    top: 3vw;
  }
}
