/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
*/

body {
  background-color: #000;
  margin: 0;
  padding: 0;
}

.App {
  background-color: black;
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.section-aboutUs {
  /* background-color: rgb(109, 109, 109); */
  height: 385vh;
}

.section-services {
  /* background-color: rgb(189, 95, 95); */
  height: 100vh;
  display: flex;
  justify-content: center;
}

.section-product {
  height: 150vh;
  /* background-color: #fff; */
}

.section-products {
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .section-products {
    height: 230vh;
    /* background-color: #fff; */
  }
}

.section-contact {
  height: 100vh;
}

section {
  width: 100vw;
  margin: 0;
  padding: 0;
}

span {
  color: white;
  position: fixed;
}
